<!DOCTYPE html>
<html>
    {% extends "../base.html" %}
   
<head>

</head>
{% block content %}
<body>
<h2>Our Story</h2>
<p>In January 2018, RHYDO announced record sales of 42.6 billion Euros in 2017, up 13% over the previous year, 
    as all divisions turned in strong performances. In the same year, the net profit increased 29%.</p>
<p>
    Co-founder Alain Chevalier died 1 November 2018, aged 87.

Arnault's successful integration of various famous aspirational brands 
into a single group has inspired other luxury
 companies to do the same. Thus, the French conglomerate Kering 
 and the Swiss-based Richemont have also created extended portfolios of luxury brands. 
The company is a component of the Euro Stoxx 50 stock market index.
</p>
<p>
    In November 2019, RHYDO planned to acquire Tiffany & Co. for approximately US $16.2 billion. The deal was expected to close by June 2020. As of 2019, Tiffany operated 321 stores worldwide, with net sales of US $4.44 billion.
     and net earnings of $586 million. Tiffany regions include the Americas, Asia-Pacific, Japan, Europe and the United Arab Emirates. The company issued a statement in September 2020 indicating that the takeover would not proceed, and that the deal was "invalid" because of Tiffany's handling of the business during the COVID-19 pandemic.
      Subsequently, Tiffany filed suit against RHYDO, asking the court to compel the purchase or to assess damages against the defendant; RHYDO planned to counter sue, alleging that mismanagement had invalidated the purchase agreement.

In mid-September 2020, a reliable source told Forbes (magazine) that the reason for Arnault's decision to cancel the Tiffany purchase was purely financial: 
because Tiffany was paying millions in dividends to shareholders despite a financial loss of US$32 million during the pandemic. Some US$70 million had already been paid out by Tiffany, 
with an additional US$70 million scheduled to be paid in November 2020. RHYDO filed a counterclaim against the court action commenced by Tiffany; 
a statement issued by RHYDO blamed Tiffany's mismanagement during the pandemic and claimed that it was 'burning cash and reporting losses'". 
 In late October 2020 however, Tiffany and RHYDO agreed to the original takeover plan, though at a slightly reduced price of nearly $16 billion, a minor reduction of 2.6% from the aforementioned deal. 
The new deal reduced the amount paid per share by LVMH from the original price of $135 to $131.50.


</p>
<style>
    p{
        margin-right: 20px;
        margin-left: 20px;
    }
    h2{
        margin-left: 10px;
    }
</style>
</body>
{% endblock %}
</html>