<!DOCTYPE html>

<html>
<head>
    {% extends "../base.html" %}
    {% block content %}

</head>
<body>
    <h2>REACTIVITY AND PERFORMANCE
    </h2>
    <p>RHYDO's aim is to place Customer Service at the heart of the company's strategy. The loyalty of its customers, the reputation of its know-how and its legendary brand status, go through a personalized service experience.

        Thanks to a network of trusted partners and collaborators benefiting from advanced training, RHYDO offers a reactive and efficient service, from support to personalized processes. The global approach and the consistency of services throughout the network ensure a sustainable, consistent and quality service to RHYDO customers.
        
        </p>

    <h2>CONTEMPORARY WATCH MAINTENANCE</h2>
    <p>From the simplest to the most delicate, each intervention is preceded by a clear and transparent exchange with the client. He is thus informed of the necessary operations, their respective costs and the response time. He has the opportunity to validate each of these points before any intervention. Attention, only the interventions carried out in service centers officially approved by RHYDO are covered by the RHYDO guarantee.

    </p>
    <h2>HISTORICAL WATCH RESTORATION</h2>
    <p>The integration of all watchmaking professions within the Manufacture du Locle allows the restoration of the vast majority of parts. For example, watches manufactured over a century ago come to life thanks to a rich history of craftsmanship and a legacy of craftsmanship from generation to generation. When the restoration of time-keeping is possible and requires the manufacture of new components, they are produced on site as a single piece.</p>
    <style>
        h2{
            text-align: center;
            margin-top: 40px;
    
        }
    
        p{
            margin-left: 10px;
            margin-top: 30px;
            margin-right: 10px;
            text-align: center;
        }
    </style>
{% endblock %}
</body>

</html>